<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Add camera</title>
</head>
<body>

<div align="center">
    <h1>Add Camera Form</h1>
    <br />
    <form action="#" th:action="@{/savecam}" th:object="${camera}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Camera Name:</td>
                <td><input type="text" th:field="*{cameraName}" /></td>
            </tr>

            <tr>
                <td>Installed Camera Zipcode:</td>
                <td><input type="text" th:field="*{FixedZipCode}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>